body,h1,h2,h3,h4,h5,h6,header,p,a,img,div,header,nav,dt,dd,dl,ul,li,ol,section,footer,article{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(144, 240, 55);
}
#wrapper{
    width: 100%;    
}
header,nav,section,article,footer{
    width: 100%;    
}
header,nav,#tclogo,#tcmovie,ul,li,footer{
    float: left;
}
header{
    background-image: url(/image/banner-1.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
}
header a img{
    float: left;
    width: 100px;
}
#tcmovie{
    width: 100%;
    font-size: 1em;
}
nav ul{
    background-color: rgb(48, 179, 68);
    color: aliceblue;
}
nav ul{
    list-style-type:none;
    padding: 1%;  
    text-align: center;  
}
nav ul li{
    width: 100%;
    float: left;
    color: rgb(253, 251, 253);
    background-color: rgb(167, 142, 182);
}
nav ul li a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 1.5em;         
    background-color: #1a6442;
    color: rgb(179, 193, 204);
    text-align: center;
    text-decoration: none;
    font-family: "微軟正黑體";
    border-radius: 1px 1px 1px 1px;
}
nav ul li a:havor {
    color: rgb(235, 213, 213);    
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(211, 28, 40, 0.659);
    padding-top: 2%;
    border-radius: 30px 0 50px 10px;
    transition: all 0.5s linear;
}
section{
    margin-bottom: 100px;
    text-align: center;
}
h2{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: "微軟正黑體";
    letter-spacing: 0.3em;
    padding: 0.5em 0;
    color: white;
    background-color: rgb(70, 5, 5);;
}
h3{
    background-color: rgb(12, 61, 6);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2px;
    
}
footer{
    width: 100%;    
    background-color: rgb(126, 126, 247);
    color: azure;
    text-align: center;
}

#lifetitle{
    font-size: 0.8em;
}
#tclife{
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 2em;
    padding: 5px 0px 50px 0px;
}
#tclife p{
    text-indent: 2em;
}

.bx-wrapper{    
    width: 950px; 
    margin-left: auto;
    margin-right: auto;
}

.leftimage{
    float: left;
    border-radius: 3px 3px 3px 3px;  
    margin: 1em 1em 1em 1em;  
    box-shadow: 15px rgb(15, 175, 39);
}
.rightimage{
    float: right;
    border-radius: 2px 2px 2px 2px;
    margin: 1em 1em 1em 1em;
}

#copyright{
    background-color: burlywood;
    color: black;
    border-radius: 50px 50px 50px 50px;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newold{    
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}
#newold img{
    margin:0px 30px 20px 30px;
    border:3px solid rebeccapurple;
    border-radius: 20px;
    width: 60%;
}
h4{
    font-size: large;
    letter-spacing: 0.3em;
    
}
p{
    font-size: 15px;
    text-indent: -1em;        
    padding: 5px;
   
}
#contact{
    width: 100%;
    font-size: 0.5em;
    text-align: center;
    background-color: rgb(179, 52, 6);
    color: aliceblue;
    text-indent: 0.5em;
    letter-spacing: 0.2em;
}

section h3{
    text-align: center;
    font-family: "微軟細明體";
    font-size: 0.5em;
}
